/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/


/*****
BODY
*****/
body {
  background: url('img/bg.jpg');
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

header#site_header {
  background-color: #ff8523;
  padding: 5%;
}

nav.main_navigation a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  border: 2px #fff solid;
  color: #fff;
  border-radius: 5px;
}

h2, h3 {
  color: #1fabe5;
}

#page_content {
  background: #fff;
  padding: 5%;
}

section:first-child {
  border-bottom: 2px #ddd solid;
}


form {
  background: #ddd;
}

div[class="name"] {
  background: #ff8523;
}

#submit_button {
  color: #fff;
  background: #1fabe5;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}

textarea {
  border: #1fabe5;
}
/*********
TABLE
*********/
thead {
  background-color: #1fabe5;
  color: #fff;
}

table, th, td {
    border: 2px solid #1fabe5;
    border-collapse: collapse;
}
